<?xml version="1.0" encoding="utf-8"?>
<!--
    Seeing# and all applications distributed together with it. 
    More info at 
     - https://github.com/RolandKoenig/SeeingSharp2 (sourcecode)
     - http://www.rolandk.de (the autors homepage, german)
    Copyright (C) 2019 Roland König (RolandK)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see http://www.gnu.org/licenses/.
-->
<packages>
  <package id="SharpDX" version="4.2.0" targetFramework="net471" />
  <package id="SharpDX.D3DCompiler" version="4.2.0" targetFramework="net471" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net471" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net471" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net471" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net471" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net471" />
</packages>